doctype html
html
  head
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/adminInicio.js')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/AdminInicio.css")
    title Chatty
  body
    div#container
      div(class="row")
        div(class="row")
        div(class="row")
          div(class="col-md-4")
          div(class="col-md-4 login")
            h1 Mesa de Servicios
            h4 Bienvenid@
            form
              div(class="form-group")
                input(type="text",class="form-control", placeholder="Nombre de usuario")#usuario
                br
                input(type="button", class="btn btn-primary" , value="Entra como Administrador", disabled=false)#iniciar 
          div(class="col-md-4")