doctype html
html
  head
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/chat.js')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/chat.css")
body
div(class="row")
  div(class="col-md-9")
  div(class="col-md-3 sidebar")
    h1 Chat
    div#chatlog
    input(type="text", class="inputChat")#enviar