<!DOCTYPE html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/inicio.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/inicio.css">
  </head>
  <body>
    <div id="container">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 login">
          <h1>Mesa de Servicios</h1>
          <h4>Bienvenid@</h4>
          <form>
            <div class="form-group">
              <input type="text" placeholder="Escribe un usuario" id="usuario" class="form-control"><br>
              <input type="submit" value="Inicia Sesión" id="iniciar" class="btn btn-primary">
            </div>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </body>
</html>