doctype html
html
  head
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/inicio.js')</b>
    Bienvenido a MESA
    input(type="button", value="Inicia Sesion", disabled=false)#iniciar
  body